gold_docker_image_tag = "GOLD_VERSION"
ingestion_docker_image_tag = "INGESTION_VERSION"
silver_docker_image_tag = "SILVER_VERSION"
kaggle_username = "KAGGLE_USERNAME"
kaggle_key = "KAGGLE_KEY"
sink_type = "SINK_TYPE"
sink_bucket = "S3_SINK_BUCKET"
kaggle_data_source_urls = KAGGLE_DATASOURCE_URLS
crawler_data_source_urls = CRAWLER_DATASOURCE_URLS